<div class="job-details">

  <div class="header-group">
    <span class="label">Cargo</span>
    <h3 class="job-title">{{ job.title }}</h3>
  </div>

  <div class="details-grid">

    <div class="detail-item">
      <span class="label">Empresa</span>
      <span class="value">
        {{ job.company }}
      </span>
    </div>

    <div class="detail-item">
      <span class="label">Status Atual</span>
      <span class="value">
        {{ job.currentStatus | replaceUnderscore }}
      </span>
    </div>

    <div class="detail-item">
      <span class="label">Localização</span>
      <span class="value">
        {{ job.location || 'Não informada' }}
      </span>
    </div>

    <div class="detail-item">
      <span class="label">Pretensão Salarial</span>
      <span class="value">
        {{ job.salaryExpect || 'A combinar' }}
      </span>
    </div>

    <div class="detail-item full-width">
      <span class="label">Link da Vaga</span>

      <a
        *ngIf="job.url"
        [href]="job.url"
        target="_blank"
        rel="noopener noreferrer"
      >
        Acessar vaga
      </a>

      <span *ngIf="!job.url">
        Não informado
      </span>

    </div>

    <div
      class="detail-item full-width"
      *ngIf="job.description"
    >
      <span class="label">Descrição</span>

      <p>
        {{ job.description }}
      </p>
    </div>

  </div>

</div>